.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

/*Button style*/
.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff; 
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.button:active {
  background-color: #2471a3; 
}
/*Button style*/

.project-container{
  background-color: #e6e6e6;
  color: #282c34;
  padding: 15px;
  margin: 15px;
  border-radius: 13px;
  min-width: 25rem;
}

.post-header{
  background-color: #979292;
  padding: 15px;
  margin: 15px;
  min-width: 25rem;
  border-radius: 15px;
}

.post-header:hover{
  cursor: pointer;
  background-color: #575454;
  color: #a6a9af;
}

.post-body{
  padding: 1px 15px;
  margin: 1px 15px;
  max-width: 25rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 10px;
}

.material-symbols-outlined {
  margin-top: -28px;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  background-color: #575454;
  color: #a6a9af;
  padding: 15px;
  border-radius: 28px;
}

.done:hover {
  color: rgb(27, 175, 27);
}

.delete:hover {
  color: rgb(235, 39, 39);
}

.edit:hover {
  color: rgb(255, 164, 29);
}